html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
}

.navbar {
    /* background: #305c6d; */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: all 0.3s;
}

.navbar-scrolled {
    background-color: #305c6d;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    /*primeiro valor de margin é top, o segundo é right, o terceiro é bottom e o quarto é left
    se você inserir só 2 valores, os 2 primeiros vão se referir à top e bottom e os 2 ultimos à left e right*/
    margin: 0 auto;
    /* isso também se aplica a padding */
    padding: 0 15px;
}

/*vai ser add depois */
/*(fa-gem)*/
#logo-icon {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0;
    height: 150px;
    width: 250px;
    display: flex;
    cursor: pointer;
    position: relative;
    top: -30px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 60px;
}

.navbar_links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    position: relative;
}

.navbar_links_prod {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    width: 140px;
    position: relative;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: black;
    color: #fff;
}

/*isso daqui faz ficar com cor diferente quando voce poe o cursor em cima do botão*/
/*muda a cor depois*/
.button:hover {
    background: #d44d28;
    transition: all 0.3s ease;
}

/* .navbar_links:hover {
    color: #fcc062;
    transition: all 0.3s ease;
} */

.navbar_links::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 2px;
    left: 0;
    background-color: #fff;
    transition: transform 0.25s ease-out;
}

.navbar_links_prod::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 2px;
    left: 0;
    background-color: #fff;
    transition: transform 0.25s ease-out;
}

.navbar_links:hover::after {
    transform: scaleX(1);
}

    .navbar_links_prod:hover::after {
transform: scaleX(1);
}


/* MAIN */

.main {
    height: 600px;
}


.ParallaxVideo{
    height: 500px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.ParallaxVideo video{
    max-width: 100%;
    position: fixed;
    top:0;
    z-index: -999;
}
/* .ParallaxVideo h1 {
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    z-index: 20;
} */

.main_content {
    z-index: 10;
}

.ParallaxVideo h1 {
    margin-top: 150px;
    padding-left: 40px;
    width: 800px;
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    z-index: 20;
}

/* sem botão */


/* HISTORIA DA HEPTA */

/* por que hepta? */

.porquehepta {
    display: block;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    background: linear-gradient(#305c6d, #c6e5ff);
}

.porque {
    height: 90%;
    width: 90%;
    position: relative;
    justify-self: center;
    align-self: center;
    align-content: center;
    display: flex;
}

.tv {
    height: 500px;
    width: 500px;
    float: left;
    z-index: 1;
    position: relative;
    left: -30px;
    margin-top: 40px;
}

.titulo_porque {
    margin-bottom: 20px;
}

.both_porque {
    width: 650px;
    height: 300px;
    margin-top: 150px;
    margin-left: 70px;
    font-size: 20px;
}

.porque2 {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
}

/* como tudo começou */


.comotudocomecou {
    display: block;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    background: linear-gradient(#c6e5ff, #305c6d);
}

.como {
    height: 90%;
    width: 90%;
    position: relative;
    justify-self: center;
    align-self: center;
    align-content: center;
    display: flex;
}

.disco {
    height: 400px;
    width: 400px;
    float: right;
    z-index: 1;
    margin-left: 150px;
    margin-top: 40px;
}

.titulo_como {
    margin-bottom: 20px;
}

.both_como {
    width: 650px;
    height: 300px;
    position: relative;
    margin-top: 100px;
    font-size: 20px;
}

.como2 {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}


/* LOJA */

.loja {
    background-color: #c6e5ff;
    width: 100%;
    height: 500px;
}

.container_loja {
    align-self: center;
    justify-self: center;
    justify-content: center;
    display: block;
    height: 90%;
    width: 90%;
}

.texto_loja {
    height: 90%;
    width: 90%;
    text-align: center;
    position: relative;
    align-content: center;
    justify-self: center;
    font-size: 30px;
}

.botao {
    width: 100%;
    height: 80px;
    justify-content: center;
    display: flex;
    position: relative;
    bottom: 50px;
}

.botao_loja {
    height: 80px;
    width: 300px;
    border-radius: 12px;
    font-size: 35px;
    color: #305c6d;
    border-width: 5px;
    border-style: solid;
    border-color: #305c6d;
    transition: 0.2s ease;
}

.botao_loja:hover {
    border-color: #d44d28;
    color: #d44d28;
}





/* FOOTER */

.footerContainer {
    background-color: #305c6d;
    width: 100%;
    padding: 20px 30px 5px;
}

.socialicons {
    display: flex;
    justify-content: center;
}

.socialicons a {
    text-decoration: none;
    padding: 15px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i {
    font-size: 2rem;
    color: #305c6d;
    opacity: 0.9;
}

.socialicons a:hover {
    background-color: #6e99bb;
    transition: ease 0.3s;

}

.socialicons a:hover i {
    color: white;
    transition: ease 0.3s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav li {
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: underline;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.3s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #305c6d;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
    font-size: 18px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

.local {
    font-size: 25px;
    color: white;
    justify-self: center;
    margin-bottom: 20px;
}






/* RESPONSIVIDADE */

@media screen and (max-width: 972px) {
    .navbar_menu {
        display: none;
    }
    
}

@media screen and (max-width: 1290px) {

    .footerNav ul {
        display: block;
    }
}

@media screen and (max-width: 1200px) {
    .ParallaxVideo video {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #305c6d;
    }

    .ParallaxVideo {
        width: 100%;
        position: relative;
        left: 0;
    }

}
@media screen and (max-width: 640px) {
    .ParallaxVideo h1 {
        font-size: 50px;
        width: 400px;
    }

    .loja {
        height: 700px;
    }

}

@media screen and (max-width: 1070px) {
    .tv {
        height: 200px;
        width: 200px;
    }

    .disco {
        height: 200px;
        width: 200px;
    }
}
@media screen and (max-width: 860px) {
    .texto_loja {
        font-size: 20px;
    }

    .both_porque {
        height: 300px;
        font-size: 15px;
    }

    .both_como {
        height: 100px;
        width: 600px;
        z-index: 1;
        margin-top: 0;
        margin-bottom: 100px;
        margin-left: 20px;
        font-size: 15px;
    }

    .texto_como {
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    .texto_loja {
        font-size: 15px;
        justify-content: end;
    }

    .both_porque {
        height: 400px;
        margin-left: 0;
        font-size: 15px;
    }

    .como2 {
        justify-content: left;
    }

    .both_como {
        font-size: 15px;
    }

    .texto_como {
        width: 200px;
    }

    .disco {
        left: -120px;
        position: relative;
    }
}